body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: blue;
    background-color: antiquewhite;
}

img {
    width: 120px;
    height: 160px;
    border-radius: 50%;
    margin: 10px;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
    min-width: 400px;
}

#datos-basicos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 800px;
}

@media (max-width: 600px) {
    #datos-basicos {
        flex-direction: column;
    }
}

#datos p span {
    font-weight: bold;
}

#secciones {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    max-width: 800px;
}

@media (max-width: 800px) {
    #secciones {
        flex-direction: column;
    }
}

#seccion-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.textos {
    text-align: justify;
}

.contornos {
    border-radius: 7px;
    border: 1px solid #00aaff;
    padding: 10px;
    margin: 5px;
}

.fondos {
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
}