body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: blue;
    background-color: beige;
}

img {
    width: 120px;
    height: 160px;
    border-radius: 50%;
    margin: 10px;
}

section {
    margin-bottom: 20px;
}

#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px;
}

#datos-basicos {
    display: flex;
    width: 80%;
    height: 180px;
    max-width: 800px;
}

#datos p span {
    font-weight: bold;
}

/* #habilidades {
    font-family: 'Times New Roman', sans-serif;
    font-size: medium;
}

.texto-basico {
    font-family: Calibri, sans-serif;
    font-size: medium;
} */